/** 
 * Global Color Variables 
 */
$turquoise-blue: #2f7a9f;
$turquoise-dark-blue: #13597f;
$rose: #ff419f;
$rose-dark: #cf255f;
$gold: #f7d56a;
$gold-dark: #cea53f;
$violet: #7b30cf;
$purple: #4b23c5;
$plato-grey: #829acf;
$plato-grey-dark: #425a8f;

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
