.falls {
  position: absolute;
  width: 30vmin;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba($plato-grey, 0.5),
    rgba($plato-grey, 0.8),
    transparent
  );
  &::before {
    content: "";
    position: absolute;
    width: 13.333vmin;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      rgba($plato-grey, 0.3),
      rgba($plato-grey, 0.6),
      transparent
    );
    left: -20vmin;
  }
  &::after {
    content: "";
    position: absolute;
    width: 9vmin;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      rgba($plato-grey, 0.8),
      rgba($plato-grey-dark, 0.5),
      transparent
    );
    right: -25vmin;
  }
}
