.gold-spheres {
  position: absolute;
  background: linear-gradient(to right bottom, $gold, $gold-dark);
  border: 0.5vmin solid $gold-dark;
  width: 9vmin;
  height: 9vmin;
  border-radius: 50%;
  top: 20vmin;
  left: 20vmin;
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right bottom, $gold, $gold-dark);
    border: 0.5vmin solid $gold-dark;
    width: 14vmin;
    height: 14vmin;
    border-radius: 50%;
    top: 50vmin;
    left: -10vmin;
  }
  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right bottom, $gold, $gold-dark);
    border: 0.5vmin solid $gold-dark;
    width: 4vmin;
    height: 4vmin;
    border-radius: 50%;
    top: 10vmin;
    left: 90vmin;
  }
}

.rose-spheres {
  position: absolute;
  background: linear-gradient(to right bottom, $violet, $violet-dark);
  border: 0.5vmin solid $violet-dark;
  width: 2vmin;
  height: 2vmin;
  border-radius: 50%;
  top: 25vmin;
  left: 40vmin;
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(to right bottom, $violet, $violet-dark);
    border: 0.5vmin solid $violet-dark;
    width: 25vmin;
    height: 25vmin;
    border-radius: 50%;
    top: -15vmin;
    left: 100vmin;
  }
  &::after {
    content: "";
    position: absolute;
    background: linear-gradient(to right bottom, $violet, $violet-dark);
    border: 0.5vmin solid $violet-dark;
    width: 0.5vmin;
    height: 0.5vmin;
    border-radius: 50%;
    top: 15vmin;
    left: -15vmin;
  }
}

