.squares {
  position: absolute;
  height: 17vmin;
  width: 17vmin;
  background: $turquoise-blue;
  border: 0.5vmin solid $turquoise-dark-blue;
  left: 33vmin;
  top: 50vmin;
  &::before {
    content: "";
    position: absolute;
    height: 6vmin;
    width: 24vmin;
    background: $turquoise-blue;
    border: 0.5vmin solid $turquoise-dark-blue;
    right: -67vmin;
    top: -33vmin;
  }
  &::after {
    content: "";
    position: absolute;
    height: 4vmin;
    width: 6vmin;
    background: $turquoise-blue;
    border: 0.5vmin solid $turquoise-dark-blue;
    right: -60vmin;
    top: -45vmin;
  }
}

.large-square {
  position: absolute;
  width: 100vmin;
  height: 75vmin;
  background: linear-gradient(to right, $violet-dark, $violet);
  border: 0.5vmin solid $turquoise-dark-blue;
  transform: rotate(-33deg);
  top: 95vmin;
  left: 22vmin;
}
