@import "config";

.canvas {
  position: relative;
  background: linear-gradient(to right bottom, $violet-dark, $gold, $gold-dark);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  @import "spheres";
  @import "squares";
}
